// @import url("./variables.module.scss");
@import 'variables';


.head{
    width: 100%;
    height: 77px;
    background-color: aqua;
    .innerHead{
        width: 90%;
        background-color: beige;
        height: 100%;
        margin: auto;
    }
}

.logo{
    width: 38px;
    height: 38px;
    display: flex;
    background-color: $heading-color;
    .sublogo{
        width: 90%;
        height: 90%;
        background-color: aliceblue;
    }
}