$primary-color: #F2FBF9;
$border-color: #BDC3C2;
$heading-color: #04433B;
$font-second-color: #E9EBEB;




// :export {
//     primaryColor: $primary-color;
//     borderColor: $border-color;
//     headingColor: $heading-color;
// }